<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/conjuntoanimlas2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="titlebg">Salve vidas adote</h4>
        <p class="paragbg">Adote um animal e realiza o privelégio de um lar.</p>
      </div>
    </div>
  </div>
  <app-view-animals>
    <div class="col-md-4 animalsImage" ng-click="redirecTodetails()" >
      <img src="../../../../assets/animals/cao.jpg" width="100">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/doberman.jpg" width="100" alt="">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/gato1.jpg" width="100" alt="">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/gatopreto1.jpg" width="100">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/gatosempelo.jpg" width="100" alt="">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/papagio2.jpg" width="100" alt="">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/porquinho.jpg" width="100">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/pastoralemao1.jpg" width="100" alt="">
      <button>Adotar</button>
    </div>
    <div class="col-md-4 animalsImage">
      <img src="../../../../assets/animals/porquinho2.jpg" width="100" alt="">
      <button>Adotar</button>
    </div>
  </app-view-animals>
  