<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/conjuntoanimlas2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="titlebg">Salve vidas adote</h4>
        <p class="paragbg">Adote um animal e realiza o privelégio de um lar.</p>
      </div>
    </div>
    
  </div>