<section class="registAdmin">
    <div class="container areaRad">
        <h5>Registar Administrador</h5>
        <form action="">
            <div class="users-details ">
                <div class="input-box">
                    <label class="detail">Nome completo</label>
                    <input type="text" [(ngModel)]=" administra.name" id="input-usar"placeholder="Digite o email"  name="name" />
                </div>
                <div class="input-box">
                    <label class="detail">Email</label>
                    <input type="email" [(ngModel)]=" administra.email" id="input-usar"placeholder="Digite o email" name="email" required />
                </div>
                <div class="input-box">
                    <label class="detail">Palavra-passe</label>
                    <input type="password" [(ngModel)]=" administra.password" id="input-pas"placeholder="Digite a palavra-passe"name="password" required />
                </div>
            </div>

            <div class="btnn">
                <!-- <div class="button-start">
                    <input type="submit" id="btn-iniciar" value="Cadastrar-se" />
                </div> -->
                <div class="button-start">
                    <button (click)=" SaveAdmin()" id="btn-iniciar">Cadastrar</button>
                  </div>
            </div>
            
        </form>
        
    </div>  
</section>

