.registAdmin{
    display:flex;
    height:150px;
    justify-content:center;
    align-items:center;
    padding:10px;
    margin-top: 138px;
    margin-bottom: 200px;
}
.areaRad{
    max-width:380px;
    width:100%;
    background-color:white;
    padding: 25px 30px;
    border-radius: 5px;
     border-right:1px solid rgba(0,0,0,.3) ;
     border-left:1px solid rgba(0,0,0,.3) ;
     border-top:1px solid rgba(0,0,0,.2) ;
    border-bottom:1px solid rgba(0,0,0,.2) ;
}
.areaRad h5{
    text-align: center;
}

.areaRad form .users-details{
    justify-content:space-between;
    margin: 20px 0 12px 0;
}

.input-box{
    margin-bottom: 13px;
    width: calc(100% / 2 - 20px);
}

.input-box .detail{
    margin-bottom:5px;
    display:block;
    font-weight:550;
    font-size:11pt;
    color: rgba(0,0,0,0.5);
}

.input-box input{
    height:40px;
    width:228%;
    outline:none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left:15px;
    font-size:12pt;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-width:2px;
    transition: all 0.3s ease;
}
input .foto{
    font-size:10pt;
    border:1px solid #ccc;
    border-radius: 5px;
}

.button-start{
    justify-content:center;
}
.button-start input{
    margin-top: 15px;
    justify-content:center;
    height:100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color:#fff;
    background: rgb(0, 81, 255);
    padding:5px;
    border:none; 
      margin-bottom:5px;
      cursor:pointer;
}

.button-start input:hover{
    background: rgb(0, 69, 219);
    color: #fff;
    /* border: 3px solid rgb(0, 81, 255); */ 
    transition:0.3s ease;
}
.campSaveRegiste{
    justify-content: space-between;
    flex-direction: row;
    display: inline-block;
}

.campSaveRegister label{
    align-items: start;
    font-size: 10pt;
    cursor:pointer;
  
}

.campSaveRegister a{
    align-items:end;
    font-size: 10pt;
    text-decoration: none;
    margin-left: 100px;
    cursor:pointer;
}
.campSaveRegiste input{
    font-size: 10px;
}