<section class="register">
    <div class="container areaRegister">
        <h5>Registar-se</h5>
        <form (ngSubmit)="saveAdopter()">
            <div class="users-details ">
                <div class="input-box">
                    <label class="detail">Nome Completo</label>
                    <input type="text" [(ngModel)]=" adopter.name" id="input-usar"placeholder="Digite o seu nome" required />
                </div>
                <div class="input-box">
                    <label class="detail">Data de nascimento</label>
                    <input type="date" [(ngModel)]= "adopter.date_birth"  id="input-usar" required />
                </div>
                <div class="input-box">
                    <label class="detail">Telefone</label>
                    <input type="text" [(ngModel)]=" adopter.telephone"  id="input-usar"placeholder="Digite o seu número" required />
                </div>
                <div class="input-box">
                    <label class="detail">Morada</label>
                    <input type="text"[(ngModel)]=" adopter.household"  id="input-usar"placeholder="Digite a sua morada" required />
                </div>
                <div class="input-box">
                    <label class="detail">Posição</label>
                    <select name="position" id="position" [(ngModel)]="adopter.id_estad">
                      <option value="1">Empregado em uma instituição</option>
                      <option value="2">Empresário</option>
                      <option value="3">Desempregado</option>
                    </select>
                  </div>
                <div class="input-box">
                    <label class="detail">Fale um pouco acerca de ti</label>
                    <textarea name="" [(ngModel)]=" adopter.description" id="" cols="42" rows="2"></textarea>
                </div>
                <div class="input-box">
                    <label class="detail">Email</label>
                    <input type="email" [(ngModel)]="adopter.email"  id="input-usar"placeholder="Digite o email" required />
                </div>
                <div class="input-box">
                    <label class="detail">Palavra-passe</label>
                    <input type="password" [(ngModel)]="adopter.password" id="input-pas"placeholder="Digite a palavra-passe" required />
                </div>
            </div>

            <div class="campSex form-check">
                <input type="radio" [(ngModel)]="adopter.id_gen" value="1" class="form-check-input" name="radiOption" id="radiOption1">
        <label class="form-check-label" for="radiOption1">Masculino</label>
      </div>
      <div class="campSex form-check">
        <input type="radio" [(ngModel)]="adopter.id_gen" value="2" class="form-check-input" name="radiOption" id="radiOption2">
        <label class="form-check-label" for="radiOption2">Feminino</label>
            </div> 


            <div class="btnn">
                <div class="button-register">
                    <button type="submit" id="btn-register">Registar-se</button>
                </div>
                
            </div>
            
        </form>
        
    </div>  
</section>

