<section class="register">
    <div class="container areaRegister">
        <form action="#" method="post">
            <div class="users-details ">
                <div class="input-box">
                    <label class="detail">Nome Completo</label>
                    <input type="text"  id="input-usar"placeholder="Digite o seu nome" required />
                </div>
                <div class="input-box">
                    <label class="detail">Data de nascimento</label>
                    <input type="date"  id="input-usar" required />
                </div>
                <div class="input-box">
                    <label class="detail">Telefone</label>
                    <input type="text"  id="input-usar"placeholder="Digite o seu número" required />
                </div>
                <div class="input-box">
                    <label class="detail">Morada</label>
                    <input type="text"  id="input-usar"placeholder="Digite a sua morada" required />
                </div>
                <div class="input-box">
                    <label class="detail">Curso</label>
                    <select name="numero" id="numero">
                        <option value="1">Informática</option>
                        <option value="2">Contabilidade e Auditoria</option>
                        <option value="3">Manutenção Indústrial</option>
                        <option value="3">C. Económicas e Juírdicas</option>
                    </select>
                </div>
                <div class="input-box">
                    <label class="detail">Classe</label>
                    <select name="numero" id="numero">
                        <option value="1">10 classe</option>
                        <option value="2">11 classe</option>
                        <option value="3">12 classe</option>
                        <option value="3">13 classe</option>
                    </select>
                </div>
                <div class="input-box">
                    <label class="detail">Turma</label>
                    <select name="numero" id="numero">
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                    </select>
                </div>
                <div class="input-box">
                    <label class="detail">Email</label>
                    <input type="text"  id="input-usar"placeholder="Digite o email" required />
                </div>
                <div class="input-box">
                    <label class="detail">Palavra-passe</label>
                    <input type="password" id="input-pas"placeholder="Digite a palavra-passe" required />
                </div>
                <div class="input-box">
                    <label class="detail">Confirmar palavra-passe</label>
                    <input type="password" id="input-pas"placeholder="Digite a novamente" required />
                </div>
            
            </div>

            <div class="campSex form-check">
                <input type="radio" class="form-check-input" name="radiOption"  id="radiOption1">
                <label class="form-check-label" for="radiOption1">Masculino</label>
            </div> 
            <div class="campSex form-check">
                <input type="radio" class="form-check-input" name="radiOption"  id="radiOption2">
                <label class="form-check-label" for="radiOption2">Femenino</label>
            </div> 


            <div class="btnn">
                <div class="button-register">
                    <input type="submit" id="btn-register" value="Cadastrar" />
                </div>
                
            </div>
            
        </form>
        
    </div>  
</section>

