<div class="container">
    <div class="col-12">
       
        <div class="all_content">
            <p> 
              Estamos vivendo em um mundo digital, e ele nunca esteve tão modernizado. Até as tarefas mais simples do
              nosso cotidiano ficam ainda mais fáceis quando usamos a tecnologia. No caso das viagens corporativas, os
              profissionais utilizam seus smartphones para fazer o envio de documentação, a compra de passagens e até o
              check-in. Dessa forma, tudo fica mais tranquilo e a satisfação dos colaboradores viajantes aumenta.</p>
              <p>
              Agências de viagens online surgiram em 1990, usando o grande alcance da internet para agregar a oferta de
              viagens pelo mundo em um único lugar, para que os consumidores possam reservar suas próprias viagens online.</p>
              <p>Essas ferramentas de self-service reformularam a indústria da hotelaria e a forma na qual viagens eram
              pesquisadas e reservadas, pois o público geral poderia agora planejar suas viagens de forma fácil e reservar
              suas passagens aéreas, acomodações e tours sozinhos, sem precisar de um agente de viagens físico.</p> 
          </div>
    </div>
    </div>

    <div class="container">
        <img src="../../../../assets/logo_animlas_blue-black.png" class=" text-center logoanimals"  width="400" alt="">
    </div>