<section class="login">
    <div class="container areaLg">
        <h5>Aréa Reservada</h5>
        <form action="#" method="post">
            <div class="users-details ">
                <div class="input-box">
                    <label class="detail">Email</label>
                    <input type="text"  id="input-usar"placeholder="Digite o email" required />
                </div>
                <div class="input-box">
                    <label class="detail">Palavra-passe</label>
                    <input type="password" id="input-pas"placeholder="Digite a palavra-passe" required />
                </div>
            </div>

            <div class="campSaveRegister form-check">
                <input type="checkbox" class="form-check-input" name="check_ligado" id="check_ligado"><label class="form-check-label" for="check_ligado">Relembar passe</label>
               <a class="registro"> Regista-se aqui!</a>
            </div> 

            <div class="btnn">
                <div class="button-start">
                    <input type="submit" id="btn-iniciar" value="Iniciar sessão" />
                </div>
                
            </div>
            
        </form>
        
    </div>  
</section>

