
.navegation{ 
    
    z-index: 999;
    position:sticky !important;
    top: 0 !important;

}

.navbar-brand{
    color: rgb(46, 46, 46) !important;
}
.navbar-brand a{
    font-weight: 800;
}

.nav-link{
    color: #fff !important;
}
.nav-link:hover{
    color: rgb(46, 46, 46) !important;
}
.form-control{
    background-color: #fff !important;
    color: rgb(26, 26, 26)!important;
    border: none;
}